<h1> Update your article </h1>

<table>
        <%= form_for @post, url: {action: "update"} do |f| %>
    <tr>
        <th>Title</th>
        <td> <%= f.text_field :postTitle, size:"39" %> </td>
    </tr>

    <tr>
        <th>Author</th>
        <td> <%= f.text_field :postAuthor, size:"39" %> </td>
    </tr>

    <tr>
        <th>Text</th>
        <td> <%= f.text_area :postText, size: "40x20" %> </td>
    </tr>

    <tr>
        <td> <%= f.submit "Post" %> </td>
    </tr>

    <% end %>
</table>