<h1>My Blog</h1>

<%= link_to "Create a book", new_post_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
  </tr>

  <% @posts.each do |post| %>

    <tr>
      <td><%= post.postTitle %></td>
      <td><%= post.postAuthor %></td>
      <td><%= link_to 'Show', post_path(post) %> | </td>
      <td><%= link_to 'Delete', post_path(post), method: :delete %></td>
    </tr>
    
  <% end %>
</table>